/*default*/

$red: #FF5252;
$liteGray: #BDBDBD;
$darkGray: #757575;
$white: #FFFFFF;
$liteBlue: #03A9F4;
$blue: #0288D1;
$blackText: #212121;

/*dark*/
$charcoal: #353535;
$shadow: #202020;
$brimstone: #666666;
$mcgreen: #7FFF00;
$neonPurple: #BC13FE;
$litePurple: #E29AFE;
