@import '../../../styles/colors';

$themes: (
  light: (
    navbar: $darkGray,
    backgroundColor: $liteGray,
    inputField: $white,
    inputFieldTextColor: $blackText,
    checkboxColor: $blackText,
    logoColor: $blackText,
    clearButtonTextColor: $white,
    clearButtonColor: $blue,
    clearButtonBorder: 2px solid $liteBlue,
    messageBubbleTextColor: $blackText,
    messageBubbleBackground: $litePrimary,
    deleteButtonColor: $red,
  ),
  
  dark: (
    navbar: $charcoal,
    inputField: $shadow,
    backgroundColor: $shadow,
    inputFieldTextColor: $mcgreen,
    checkboxColor: $mcgreen,
    logoColor: $white,
    clearButtonTextColor: $litePurple,
    clearButtonColor: $neonPurple,
    clearButtonBorder: 2px solid $litePurple,
    messageBubbleTextColor: $white,
    messageBubbleBackground:$brimstone, 
    deleteButtonTextColor: $mcgreen, 
  ),
  purple: (
    navbar: #660066,
    inputField: #ffe6ff,
    backgroundColor: #b300b3,
    inputFieldTextColor: #330033,
    checkboxColor: $litePurple,
    logoColor: #ffe6ff,
    clearButtonTextColor: $litePurple,
    clearButtonColor: $neonPurple,
    clearButtonBorder: 2px solid $litePurple,
    messageBubbleTextColor: #ffe6ff,
    messageBubbleBackground:#660066, 
    deleteButtonTextColor: #330033, 
  ),
  summer: (
    navbar: #004d00,
    inputField: #ffd966,
    backgroundColor: #ffd966,
    inputFieldTextColor: #004d00,
    checkboxColor: #ffbf00,
    logoColor: #004d00,
    clearButtonTextColor: $charcoal,
    clearButtonColor: #ffbf00,
    clearButtonBorder: 2px solid #00cc00,
    messageBubbleTextColor: #004d00,
    messageBubbleBackground: #80ff80, 
    deleteButtonTextColor: $red, 
  ),
  rose: (
    navbar: #b30000,
    inputField: #ff9999,
    backgroundColor: #ff6699,
    inputFieldTextColor: #1a0008,
    checkboxColor: #1a0008,
    logoColor: #ff9999,
    clearButtonTextColor: #ffccdd,
    clearButtonColor: #660000,
    clearButtonBorder: 2px solid #ffccdd,
    messageBubbleTextColor: #1a0008,
    messageBubbleBackground:#ff9999, 
    deleteButtonTextColor: #b30000, 
  ),
);


@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}